*{
  /* background-color: #000; */
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

.cursor {
  animation: blink 1s infinite;
}

.blockcursor {
  animation: blink 1s infinite;
  width: 6px;
  height: 20px;
  background-color: #fff;
  display: inline-block;
  margin-left: 2px;
}

/* .hintx{
  transition: 1s ease;
  font-size: 60px;
}

.hintx:hover{
  transform: translateX(-50%) translateY(-3px);
  color: red;
} */

@keyframes blink2 {
  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #fff;
}

.green{
  color: #15ed15;
}

.goup{
  color: #15ed15 ;font-size: 3rem; 
  padding: 1.5rem;
  margin-top: -110px;
  position: static;
  float: inline-end;
}

/* in progress */
.distort-text span {
  display: inline-block;
  transition: transform 0.15s ease;
}
.distort-text:hover span:nth-child(2) {
  transform: translateX(3px) skewX(-8deg);
}
.distort-text:hover span:nth-child(4) {
  transform: translateX(-4px) skewX(10deg);
}

/* .navbar-hidden {
  transform: translateY(-100%);
} */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border: 1px solid #2e2d2d8f;
  border-radius: 1rem 1rem 0 0;
  background-color: #000;

  /* position: fixed;
  width: 100%;
  z-index: 9; */

  /* position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease; */
}

nav ul{
  display: flex;
  align-items: center;
  gap: 3rem;
}

.menutoggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

#contact, #credits{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem; 
}

#credits a:nth-of-type(2){
  display: none;
  color: #15ed15;
  font-size: 2rem;
  margin-top: -10px
}

footer{
  margin-bottom: 0.2rem;
  border: 1px solid #2e2d2d69;
  border-radius: 0 0 1rem 1rem;
}

footer ul {
  display: flex;
  align-items: center;
  padding-right: 2.5rem;
  gap: 2rem
}

.footericons{
  color: #7b7a7a;
  font-Size: 2rem
}

#hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8rem 2rem 8rem;
  position: relative;
  overflow: hidden;
}

#hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image:
    linear-gradient(
      rgba(255,255,255,0.03) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(219, 23, 23, 0.03) 1px,
      transparent 1px
    );

  background-size: 60px 60px;
  pointer-events: none;
}

#heroleft h1{
  font-size: 4rem;
  margin-bottom: 1rem;
}
#heroleft span{
  color: #77f377;
}
#heroleft h3{
  color: rgb(99, 99, 99);
}

#heroright{
  border: 1px solid #2e2d2d;
  border-radius: 0.2rem;
  padding: 1rem 2rem;
  width: 300px;
  font-family: monospace, sans-serif;
}

#heroright h5{
  font-size: 1rem;
  margin-bottom: 0;
}

#heroleft,
#heroright {
  position: relative;
  z-index: 1;
}

#work, #experience{
  border-top: 1px solid #2e2d2d8f;
  border-bottom: 1px solid #2e2d2d8f;
  padding: 0 8rem;
  font-family: monospace, sans-serif;
}

section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#workbody{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workitem, .xcard{
  box-sizing: border-box;
  border-top: 1px solid #2e2d2d8f;
  border-bottom: 1px solid #2e2d2d8f;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 95%;
}

.workitem p, .workitem h2, .workitem h5, .xcard p, .xcard h2, .xcard h5{
  margin: 5px 0;
}

.workitemno{
  font-size: 4rem;
}
.xcardpic{
  font-size: 3rem;
}

.xcarddesc, .workitemdesc{
  width: 100%;
}

.xcard{
  align-items: center;
  /* background-color: white; */
  border: 2px #a09f9f solid;
  border-radius: 1rem;
  padding: 2rem 1rem;
  /* width: 500px; */
  gap: 1.5rem;
}

/* .xcard button{
  background: none;
  border: 2px #a09f9f solid;

} */

#about, #experiencebody {
  display: flex;
  padding: 0 8rem;
  margin: 2rem 0;
  font-family: monospace, sans-serif;
}

#experiencebody{
  /* overflow-x: scroll; */
  gap: 2rem;
  padding: 0;
  flex-wrap: nowrap;
}

#aboutleft{
  padding: 1rem 2rem;
}
#aboutright{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #15ed15; */
  background: linear-gradient(to right, #0930096f, #15ed155d );
}

#aboutleft,
#aboutright {
  flex: 1;
  box-sizing: border-box;
  border: 1px solid #2e2d2d8f;
}

.aboutitem{
  border: 1px solid #2e2d2d8f;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 1rem;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}




@media screen and (max-width: 1030px) {
  #hero, #about, #work, #experience{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .xcard{
    flex-direction: column;
  }
}

/* @media screen and (max-width: 920px) {
  #experiencebody{
    flex-direction: column;
  }
} */

@media screen and (max-width: 768px) {
  .menutoggle {
    display: block;
  }

  nav ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    margin: 0;
    gap: 1rem;
    padding: 1.3rem;
    background: #000;
    border: 1px solid #2e2d2d8f;
    z-index: 10;
  }

  nav ul.open {
    display: flex;
    border-bottom: 1px gray solid;
  }

  #hero {
    flex-direction: column;
    align-items: stretch;
    gap: 3rem;
  }

  #heroright {
    max-width: 100%;
  }

  #heroleft,
  #heroright {
    width: 100%;
  }

  #about {
    flex-direction: column;
  }

  #aboutleft,
  #aboutright {
    flex: none;
    width: 100%;
  }

  .workitem {
    width: 100%;
    gap: 1rem;
    padding-left: 0.5rem;
  }

  #contact {
    flex-direction: column;
    gap: 0;
    padding: 1rem;
  }

  #experiencebody{
    flex-direction: column;
  }

  .xcard{
    flex-direction: row;
  }

  .xcardpic{
    font-size: 2rem;
  }

  footer ul {
    gap: 1.5rem;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 510px) {
  #heroleft h1{
    font-size: 3.7rem;
  }

  #hero, #about, #work, #contact, #experience{
    font-size: smaller;
  }

  #hero{
    gap:1rem
  }

  .workitemno{
    font-size: 3rem;
  }
  
  #credits a:nth-child(1){
    display: none;
  }

  #credits a:nth-of-type(2){
    display: block;
  }

  .footericons{
    font-Size: 1.5rem
  }

  footer ul{
    margin: 0;
    gap: 1rem
  }
}

@media screen and (max-width: 370px) {
  #heroleft h1{
    font-size: 2.5rem;
  }

  .aboutitem{
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}