*{
  box-sizing: border-box;
}

:root {
  --green-darkestt: #0930096f;
    /* Dark greens */
    --green-darkest: #031A0D;
    --green-dark:    #052E16;
    --green-deep:    #074D25;

    /* Mid greens */
    --green-dark-mid: #087A38;
    --green-mid:      #0CAE4B;
    --green-soft:     #22C55E;

    /* Bright greens */
    --green-primary:  #15ed155d;
    --green-bright:  #15ED15;
    --green-light:    #7CFFB2;
    --green-pale:     #B7FFD0;

    /* Green-tinted neutrals */
    --green-bg:       #07140D;
    --green-surface:  #0B1A11;
    --green-border:   #183D27;

    --grey-text: #636363;
    --light-grey-text: #797979;
}

html, body, #root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

.cursor {
  animation: blink 1s infinite;
}

.blockcursor {
  animation: blink 1s infinite;
  width: 6px;
  height: 20px;
  background-color: #fff;
  display: inline-block;
  margin-left: 2px;
}

/* .hintx{
  transition: 1s ease;
  font-size: 60px;
}

.hintx:hover{
  transform: translateX(-50%) translateY(-3px);
  color: red;
} */

@keyframes blink2 {
  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #fff;
}

.green{
  color: var(--green-bright);
}

/* .goup{
  color: #15ed15 ;font-size: 3rem; 
  padding: 1.5rem;
  margin-top: -110px;
  position: static;
  float: inline-end;
} */

/* in progress */
.distort-text span {
  display: inline-block;
  transition: transform 0.15s ease;
}
.distort-text:hover span:nth-child(2) {
  transform: translateX(3px) skewX(-8deg);
}
.distort-text:hover span:nth-child(4) {
  transform: translateX(-4px) skewX(10deg);
}

/* .navbar-hidden {
  transform: translateY(-100%);
} */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  /* border: 1px solid #2e2d2d8f; */
  border: 1px solid var(--green-dark);
  border-radius: 1rem 1rem 0 0;
  background-color: #000;
  /* background-color: var(--green-bg); */

  position: fixed;
  width: 100%;
  z-index: 9;

  /* position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease; */
}

nav ul{
  display: flex;
  align-items: center;
  gap: 3rem;
}

.menutoggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

#home, #work, #about, #contact, #experience, #intro {
  scroll-margin-top: 90px;
}

#contact, #credits{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem; 
}

#credits a:nth-of-type(2){
  display: none;
  color: var(--green-bright);
  font-size: 2rem;
  margin-top: -10px
}

footer{
  margin-bottom: 0.2rem;
  border: 1px solid #2e2d2d69;
  border-radius: 0 0 1rem 1rem;
}

footer ul {
  display: flex;
  align-items: center;
  padding-right: 2.5rem;
  gap: 2rem
}

.footericons{
  color: #7b7a7a;
  font-Size: 2rem
}

#hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 8rem 2rem 8rem;
  position: relative;
  overflow: hidden;
}

#hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image:
    linear-gradient(
      rgba(255,255,255,0.03) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(219, 23, 23, 0.03) 1px,
      transparent 1px
    );

  background-size: 60px 60px;
  pointer-events: none;
}

#heroleft h1{
  font-size: 4rem;
  margin-bottom: 1rem;
}
/* #heroleft span{
  color: #77f377;
}
#heroleft h3{
  color: rgb(99, 99, 99);
} */

#heroleft span {
    color: var(--green-light);
}

#heroleft h3 {
    color: var(--grey-text);
}

#heroright{
  border: 1px solid var(--green-dark);
  border-radius: 0.2rem;
  padding: 1rem 2rem;
  width: 300px;
  font-family: monospace, sans-serif;
}

#heroright h5{
  font-size: 1rem;
  margin-bottom: 0;
}

#heroleft,
#heroright {
  position: relative;
  z-index: 1;
}

#work, #experience{
  /* border-top: 1px solid #2e2d2d8f;
  border-bottom: 1px solid #2e2d2d8f; */
  border-top: 1px solid var(--green-dark);
  border-bottom: 1px solid var(--green-dark);
  padding: 0 8rem;
  font-family: monospace, sans-serif;
}

section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#workbody{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workitem, .xcard{
  box-sizing: border-box;
  border-top: 1px solid var(--green-dark);
  border-bottom: 1px solid var(--green-dark);
  /* border-top: 1px solid #2e2d2d8f;
  border-bottom: 1px solid #2e2d2d8f; */
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 95%;
}

.workitem{
  p, h5{
    color: var(--grey-text);
  }
  .link, a, .workitemno{
    color: var(--green-bright);
  }
}

.xcard{
  p, h5{
    color: var(--grey-text);
  }
  h2, .link, .faicon{
    color: var(--green-bright);
  }
  p:nth-of-type(2){
    color: var(--light-grey-text);
  }
} 

.workitem:hover, .xcard:hover{
  transition: 0.1s ease;
  /* transform: translateY(-5px); */
  border: 2px solid var(--green-light) ;
  background: var(--green-dark);
  color: var(--green-pale);
  font-size: 1.01rem;

  p, h5{
    color: var(--light-grey-text);
  }
  h2, .faicon, .workitemno{
    color: var(--green-light);
  }
  p:nth-of-type(2){
    color: var(--light-grey-text);
  }
}

.xcard .link:hover, .workitem a:hover, .workitem .link:hover{
  transition: 0.1s ease;
  transform: translateX(5px);
  color: var(--green-dark-mid);
}

.workitem p, .workitem h2, .workitem h5, .xcard p, .xcard h2, .xcard h5{
  margin: 5px 0;
}

.workitemno{
  font-size: 4rem;
}
.xcardpic{
  font-size: 3rem;
}

.xcarddesc, .workitemdesc{
  width: 100%;
}

.xcard{
  align-items: center;
  /* background-color: white; */
  border: 2px solid var(--green-deep);
  border-radius: 1rem;
  padding: 2rem 1rem;
  /* width: 500px; */
  gap: 1.5rem;
}

/* .xcard button{
  background: none;
  border: 2px #a09f9f solid;

} */

#about, #experiencebody {
  display: flex;
  padding: 0 8rem;
  margin: 2rem 0;
  font-family: monospace, sans-serif;
}

#experiencebody{
  /* overflow-x: scroll; */
  gap: 2rem;
  padding: 0;
  flex-wrap: nowrap;
}

#aboutleft{
  padding: 1rem 2rem;
}

#aboutright{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, var(--green-darkestt), var(--green-primary) );
}

#aboutleft,
#aboutright {
  flex: 1;
  box-sizing: border-box;
  border: 1px solid var(--green-dark);
}

.aboutitem{
  border: 1px solid var(--green-dark);
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 1rem;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.padding8{
  padding: 0 8rem;
  font-family: monospace, sans-serif;
  background: linear-gradient(
    135deg,
    #07140d 0%,
    #050505 45%,
    #090909 100%
  );

  /* start here */
      /* background: linear-gradient(
        135deg,
        var(--green-bg) 0%,
        var(--green-black) 45%,
        #090909 100%
    ); */
}

.info{
  border-top: 1px solid var(--green-bright);
  border-left: 1px solid var(--green-bright);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
}

.dhpbox{
  border: 2px green solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  word-wrap: break-word;
  flex: 1;
    cursor: pointer;
}
.dhpbox:hover{
  transition: 0.1s ease;
  transform: translateY(-5px);
  /* border: 2px solid var(--green-light) ; */
  background: var(--green-dark);
  color: var(--green-pale);
  font-size: 1.02rem;
}

.dhpimg{
  border: 2px green solid;
  border-radius: 100%;
  padding: 0.1rem;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.squareimg{
  border: 2px green solid;
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.dhpbox h3, .dhpbox p{
  margin: 1rem 0;
  text-wrap: break-word;
}

.rowflex{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.rowflexscroll{
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  width: 100%;
  scrollbar-width: none; /* Firefox */
}

.ss{
  /* flex: 0 0 200px; */
  height:200px;
  border-radius: 1.5rem;
}
.ss img{
  width: 400px;
  height: 200px;
  border-radius: 0.5rem;
}

.rowflexscroll::-webkit-scrollbar {
    display: none; /* Chrome, Edge, Safari */
}

#intro{
  padding: 5rem 0 2rem 0;
}

.projectstack{
  border: 2px solid green ;
  padding: 0.5rem ;
  border-radius: 80px ;
  cursor: pointer;
  /* margin-right: 1rem;    */
}

.projectstack:hover{
  transition: 0.3s ease;
  border: 2px solid var(--green-pale) ;
  background: var(--green-border);
}

#intro section{
  display: flex;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
}

#introbottom{
  border: 1px solid #2e2d2d8f;
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 2rem;
  width: 100%;
  box-sizing: border-box;
  margin-top: -3rem;
}

.introimg{
  /* background: linear-gradient(to right, #0930096f, #15ed155d ); */
  /* border: 2px solid green; */
  border-right: 1px solid var(--green-bright);
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 0.5rem;
  padding-right: 1rem;
  width: 100%;
  height: 330px;
}
.introimg img{
  border-radius: 0.5rem;
  width: 100%;
  height: 330px;
}

.arrow{
  font-size: 2rem;
  color: var(--green-bright);
  margin-top: 20px;
}

.icon3{
  font-size: 3rem;
}

.textobox{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* justify-content: space-between; */
  gap: 0.5rem;
  /* width: 23%; */
  flex: 1;
}

.textobox:hover .squareimg{
    transition: 0.3s ease;
    border: 2px solid var(--green-light) ;
    background: var(--green-border);
    color: var(--green-pale) ;
}

.textobox h4, .textobox p{
  margin: 0.3rem;
}

.nobox h3{
  font-size: 1rem;
}

.nobox p{
  font-size: 2rem;
}

.btndiv{
  display: flex;
  gap: 1rem; 
  float: right;
  /* justify-content: space-between; */
  /* width: 100%; */
}

.transbtn{
  border: 1px solid var(--green-bright);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: none;
  color: var(--green-bright);
  margin: 1rem 0;
}

.transbtn:hover{
  transition: 0.1s ease;
  transform: translateX(5px);
  border: 2px solid var(--green-light) ;
  background: var(--green-border);
  color: var(--green-pale);
}

.transbtn{
  border: 1px solid var(--green-bright);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: none;
  color: var(--green-bright);
  margin: 1rem 0;
}

.gapred{
  justify-Content: flex-start; 
  gap: 1rem
}

@media screen and (max-width: 1030px) {
  #hero, #about, #work, #experience, .padding8{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .xcard{
    flex-direction: column;
  }

  .rowflex{
    flex-wrap: wrap;
  }

  #introbottom{
    display: flex;
    flex-direction: column;
  }
}

/* @media screen and (max-width: 920px) {
  #experiencebody{
    flex-direction: column;
  }
} */

@media screen and (max-width: 768px) {
  .menutoggle {
    display: block;
  }

  nav ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    margin: 0;
    gap: 1rem;
    padding: 1.3rem;
    background: #000;
    border: 1px solid #2e2d2d8f;
    z-index: 10;
  }

  nav ul.open {
    display: flex;
    border-bottom: 1px solid var(--green-deep);
  }

  #hero {
    flex-direction: column;
    align-items: stretch;
    gap: 3rem;
  }

  #heroright {
    max-width: 100%;
  }

  #heroleft,
  #heroright {
    width: 100%;
  }

  #about {
    flex-direction: column;
  }

  #aboutleft,
  #aboutright {
    flex: none;
    width: 100%;
  }

  .workitem {
    width: 100%;
    gap: 1rem;
    padding-left: 0.5rem;
  }
  
  .workitemdesc section:nth-of-type(1) h2:nth-of-type(2) {
    display: none;
  }

  #contact {
    flex-direction: column;
    gap: 0;
    padding: 1rem;
  }

  #experiencebody{
    flex-direction: column;
  }

  .xcard{
    flex-direction: row;
  }

  .xcardpic{
    font-size: 2rem;
  }

  footer ul {
    gap: 1.5rem;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .introimg{
    height: 300px;
  }
  .introimg img{
    height: 300px;
  }
}

@media screen and (max-width: 510px) {
  #heroleft h1{
    font-size: 3.7rem;
  }

  .padding8{
    font-size: x-small;
  }

  #hero, #about, #work, #contact, #experience{
    font-size: smaller;
  }

  #hero{
    gap:1rem
  }

  .workitemno{
    font-size: 2.5rem;
  }
  
  #credits a:nth-child(1){
    display: none;
  }

  #credits a:nth-of-type(2){
    display: block;
  }

  .footericons{
    font-Size: 1.5rem
  }

  footer ul{
    margin: 0;
    gap: 1rem
  }

  .gapred{
    gap: 0.5rem;
  }

  .ss{
    height:100px;
  }
  .ss img{
    width: 200px;
    height: 100px;
  }

  .nobox h3{
    font-size: 0.6rem;
  }

  .nobox p{
    font-size: 1.6rem;
  }

  #introbottom{
    gap: 1rem;
  }

  .icon3{
    font-size: 2rem;
  }
  
  .introimg{
    height: 250px;
  }
  .introimg img{
    height: 250px;
  }

  .squareimg{
    padding: 1.5rem 2rem;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 380px) {
  #heroleft h1{
    font-size: 2.5rem;
  }

  .aboutitem{
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .introimg{
    height: 150px;
  }
  .introimg img{
    height: 150px;
  }

  .squareimg{
    padding: 1rem 1.5rem;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }

  .dhpbox{
    padding: 0.1rem;
  }

  .nobox p{
    font-size: 1.3rem;
  }
}